
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <img src="assets/circle.png" class="rounded float-start" style="position: absolute; padding-left: 30%; padding-top: 45%;">
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" style="display: inline-block; padding-left: 20%;">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Solutions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>  
        </ul>
        <form class="d-flex">
            <button type="button" class="rounded-pill">Login</button>&nbsp;
            <button type="button" class="rounded-pill">Getting Started</button>   
        </form>
      </div>
    </div>
  </nav>

  <img src="assets/circle2.png" class="rounded float-start" style="margin-left: -179px; margin-top: 213px; width: 571px; height: 572px;"><br/>
  <div class="centered">We make it Super<br/><br/><span style="text-decoration: underline; line-height: 8px; width: 236px; border-radius: 13px;">Simple</span>
  <!-- <mat-card style="left: 700px; width: 400px; bottom: 55px;"><h4 style="text-align: center;">Eligibility Calculator</h4>
  <h3>Monthly Income</h3>
  <h3><b>Rs. 1,50,000</b></h3>  
  <mat-slider></mat-slider>

  <h3>Monthly Expenses</h3>
  <h3><b>Rs. 50,000</b></h3> 
  <mat-slider></mat-slider> 

  <h3>Repayment Tenture</h3>
  </mat-card> -->
  </div><br/>
  <img src="assets/hand.png" style="height:365px; left:106px; position:absolute; top: 610px; width:532px;">
  <img src="assets/dots.png" style="margin-left: 20%"><br/>
  <img src="assets/dots.png" style="margin-left: 65%"><br/><br/><br/>
  
  <div class="p-5 text-center bg-image" style="background-image: url('assets/wave.png'); top: 1209px; left: 0.0001220703125px; width: 1920px; height: 936px;">

  <!-- <div class="container-fluid">
    <div class="col">  
  <mat-card class="one-card">

    <mat-card-header>
      <div mat-card-avatar  style="background-image: url('assets/one.png'); background-size: cover;"></div>
    </mat-card-header>
  
    <mat-card-content>
      <p>
        <b style="color: #333333;">Quick cash disbursement</b><br/><br/>
        Get terms loans that your business needs within 72 hrs
      </p>
    </mat-card-content>
  
  </mat-card>

    <br/>

    <mat-card class="one-card">

    <mat-card-header>
      <div mat-card-avatar style="background-image: url('assets/two.png'); background-size: cover;"></div>
    </mat-card-header>
  
    <mat-card-content>
      <p>
        <b style="color: #333333;">Low-interest rate</b><br/><br/>
        Achieve your financial goals with an amazing interest rate starting at 13% per annum
      </p>
    </mat-card-content>

    </mat-card>

    <br/>

    <mat-card class="one-card">

    <mat-card-header>
      <div mat-card-avatar style="background-image: url('assets/three.png'); background-size: cover;"></div>
    </mat-card-header>

   <mat-card-content>
      <p>
        <b style="color: #333333;">Zero Paperwork</b><br/><br/>
        Get started instantly by submitting only your basic details & bank statements
      </p>
    </mat-card-content>

    </mat-card>
    </div>
    </div> -->

    <div class="container-fluid">
      <div class="row">
      <div class="col">
        <mat-card class="one-card">

          <mat-card-header>
            <div mat-card-avatar style="background-image: url('assets/one.png'); background-size: cover;"></div>
          </mat-card-header>
      
         <mat-card-content>
            <p style="color: #999999;">
              <b style="color: #333333;">Quick cash disbursement</b><br/><br/>
              Get terms loans that your business needs within 72 hrs
            </p>
          </mat-card-content>
      
          </mat-card>
      </div>

      <div class="col-lg-9">
        <mat-card class="one-card" style="top: 120px;">

          <mat-card-header>
            <div mat-card-avatar style="background-image: url('assets/four.png'); background-size: cover;"></div>
          </mat-card-header>
      
         <mat-card-content>
          <p style="color: #999999;">
              <b style="color: #333333;">Ace your business finances</b><br/><br/>
              Manage banking, accounting & everything in between, on one platform
            </p>
          </mat-card-content>
      
          </mat-card>
      </div>
      </div>
    </div><br/><br/>

    <div class="container-fluid">
      <div class="row">
      <div class="col">
        <mat-card class="one-card">

          <mat-card-header>
            <div mat-card-avatar style="background-image: url('assets/two.png'); background-size: cover;"></div>
          </mat-card-header>
      
         <mat-card-content>
          <p style="color: #999999;">
              <b style="color: #333333;">Low-interest rate</b><br/><br/>
              Achieve your financial goals with an amazing interest rate starting at 13% per annum
            </p>
          </mat-card-content>
      
          </mat-card>
      </div>

      <div class="col-lg-9">
        <mat-card class="one-card" style="top: 120px;">

          <mat-card-header>
            <div mat-card-avatar style="background-image: url('assets/five.png'); background-size: cover;"></div>
          </mat-card-header>
      
         <mat-card-content>
            <p style="color: #999999;">
              <b style="color: #333333;">Loans to fight COVID-19</b><br/><br/>
              Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
            </p>
          </mat-card-content>
      
          </mat-card>
      </div>
      </div>
    </div><br/><br/>

    <div class="container-fluid">
      <div class="row">
      <div class="col">
        <mat-card class="one-card">

          <mat-card-header>
            <div mat-card-avatar style="background-image: url('assets/three.png'); background-size: cover;"></div>
          </mat-card-header>
      
         <mat-card-content>
          <p style="color: #999999;">
              <b style="color: #333333;">Zero Paperwork</b><br/><br/>
              Get started instantly by submitting only your basic details & bank statements
            </p>
          </mat-card-content>
      
          </mat-card>
      </div>
    </div>